* {
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 206, 206);
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Nerko One", cursive;
  margin: 0.5em;
}

.pageLogo {
  margin-top: 0.5em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
  margin-bottom: 1em;
  gap: 1.5em;
  align-items: center;
}

.nav-links a {
  text-align: center;
  text-decoration: none;
  color: black;
  line-height: 55px;
  font-size: 1.2em;
  transition-duration: 400ms;
  transition-property: color, font-size;
}
.links a:hover {
  color: orange;
  font-size: 1.3em;
}

.links {
  display: flex;
  gap: 1.2em;
  justify-content: center;
}

.nav-bar {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.bar1,
.bar2,
.bar3 {
  transition-property: transform, opacity;
  transition-duration: 300ms;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.mobileMenuClass {
  display: flex;
  gap: 1.2em;
  justify-content: center;
  flex-direction: column;
}

.nav-bar .bar {
  height: 0.2em;
  width: 100%;
  background-color: black;
  border-radius: 3px;
}

.nav-bar:hover {
  cursor: pointer;
}

.mid {
  position: relative;
  margin-top: -1.2em;
}

.mid .tittle {
  position: absolute;
  top: 30%;
  left: auto;
  background-color: lightgray;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  padding: 5px;
  font-size: 1.1em;
}

.whyAdhoc h1 {
  text-align: center;
  font-size: 2em;
}

.whyAdhoc .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.carousel {
  margin: 1em;
}

.textAlign {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .links a {
    display: block;
  }
  .nav-bar {
    display: flex;
  }
  .hidden {
    display: none;
  }
  .mid .tittle {
    font-size: 0.8em;
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
  }
}
