* {
  box-sizing: border-box;
}

:root {
  --btnColor: rgb(193, 64, 64);
  --textColor: rgb(56, 56, 163);
}

body {
  background-color: rgb(206, 206, 206);
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Nerko One", cursive;
  margin: 0;
}

/*Swiper Cards Style*/
.personal-section {
  margin: 3em;
}

.personal-section h1 {
  text-align: center;
}

.swiper {
  width: 380px;
  height: 450px;
}
.parent-slider {
  border-radius: 10px;
}
.slider {
  background-color: rgb(156, 156, 156);
  opacity: 0.9;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
}
.slider img {
  border-radius: 50%;
  scale: 0.6;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-column-end: 1;
  justify-self: center;
  align-self: center;
}

.slider .personal-desc {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-column-end: 2;
  justify-self: center;
  align-self: start;
}
/*Swiper Cards style*/

.pageLogo {
  margin-top: -2em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 1.5em;
  width: 100%;
  height: 80px;
  background-color: rgb(206, 206, 206);
  overflow: hidden;
  top: 0;
  transition: position 1s;
  z-index: 1;
}

.stickyNav {
  position: sticky;
}

.nav-links a {
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  transition-duration: 400ms;
  transition-property: color, font-size;
}

.links a:hover {
  color: var(--btnColor);
  font-size: 1.3em;
}

.links {
  display: flex;
  gap: 1.2em;
  justify-content: center;
}

.nav-bar {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.bar1,
.bar2,
.bar3 {
  transition-property: transform, opacity;
  transition-duration: 300ms;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.mobileMenuClass {
  display: flex;
  gap: 1.2em;
  justify-content: center;
  flex-direction: column;
}

.nav-bar .bar {
  height: 0.2em;
  width: 100%;
  background-color: black;
  border-radius: 3px;
}

.nav-bar:hover {
  cursor: pointer;
}

.mid .tittle {
  position: absolute;
  top: 30%;
  left: auto;
  background-color: lightgray;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  padding: 5px;
  font-size: 1.1em;
}

.whyAdhoc h1 {
  text-align: center;
  font-size: 2em;
}

.whyAdhoc .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.textAlign {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .links a {
    display: block;
  }
  .nav-bar {
    display: flex;
  }
  .hidden {
    display: none;
  }
  .mid .tittle {
    font-size: 0.8em;
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
    z-index: 0;
  }
  .tittle {
    display: none;
  }
}

/*FORM STYLING*/
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin: 1rem;
  flex-wrap: wrap;
}

.biggerFont {
  font-size: 3rem;
}

.formDivs {
  width: 390px;
}

.inputStyle {
  border-style: none none solid none;
  padding: 8px;
  background-color: rgb(206, 206, 206);
  margin: 0.2rem;
}

.commentStyle {
  width: 300px;
  height: 120px;
}

.formbtn {
  border: none;
  padding: 10px;
  color: white;
  background-color: var(--btnColor);
}
.readmore {
  text-decoration: none;
  color: var(--btnColor);
}
/*FORM STYLING*/
